/*h1 {text-align: center;}
body {text-align: center; align-content: center;}
#tp>thead{background-color: grey;}*/
/*myHero {
    display: block;
    background-color: #ddd;
    padding: 50px;
    font-size: 30px;
}*/