/*---滚动条样式--*/


/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
	background-color: #C0C0C0;
	height: 50px;
	outline-offset: -2px;
	outline: 1px solid rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
}


/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.5);
	height: 50px;
}


/*---滚动条大小--*/

::-webkit-scrollbar {
	background: #FFFFFF;
	width: 8px;
	height: 8px;
}


/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 0;
}


/*---分辨率样式--*/

@media (min-width:320px) {

	.f1 {
		font-size: 24px;
		font-weight: 100;
	}
	.f1-sub {
		font-size: 14px;
		font-weight: 100;		
	}

}

@media (min-width:768px) {
	.f1 {
		font-size: 40px;
		font-weight: 100;
	}
	.f1-sub {
		font-size: 16px;
		font-weight: 100;		
	}
	.sl5afoie8{
	width: 400px;
	}	
}

@media (min-width:1024px) {
	.sl5afoie8{
	width: 400px;
	}
}

@media (min-width:1200px) {
	.f1 {
		font-size: 50px;
		font-weight: 100;		
	}
	.f1-sub {
		font-size: 20px;
		font-weight: 100;		
	}
	.sl5afoie8{
	width: 542px;
	}
}


/*---元素样式--*/

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


/*---常用样式--*/
.shows{
	display: block;
}

.hides{
	display: none;	
}
.pointers {
	cursor: pointer;
}

.pointers-help {
	cursor: help;
}

.alphare {
	filter: alpha(opacity=100);
	opacity: 1;
}

.alpha8 {
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.alpha5 {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.alpha0 {
	filter: alpha(opacity=0);
	opacity: 0;
}

.box-shadows {
  -webkit-box-shadow:0px 8px 20px rgba(0, 0, 0, .03);  
  -moz-box-shadow:0px 8px 20px rgba(0, 0, 0, .03);  
  box-shadow:0px 8px 20px rgba(0, 0, 0, .03);  
}

.box-shadows2 {
  margin-top: -3px;
  -webkit-box-shadow:0px 8px 20px rgba(0, 0, 0, .1);  
  -moz-box-shadow:0px 8px 20px rgba(0, 0, 0, .1);  
  box-shadow:0px 8px 20px rgba(0, 0, 0, .1);  
}

.text-shadows{
	text-shadow: 0px 0px 1px #666666;
}

.text-shadows2{
	text-shadow: 0px 0px 1px #FFFFFF;
}

.lefts {
	float: left;
}

.rights {
	float: right;
}

.padlr30{
	padding-left: 30px;
	padding-right: 30px;
}
.padlr15{
	padding-left: 15px;
	padding-right: 15px;
}
.subboth{
	margin-right: 10px;
	margin-left: 10px;
}

.delays {
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.sencetit{
	color: #555555;
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 1px;
}
.font12{
	font-size: 12px;
}
.font14{
	font-size: 14px;
}
.font16{
	font-size: 16px;
}
.font24{
	font-size: 24px;
}

.fontw100{
	font-weight: 100;
}
.font-white {
	color: #FFFFFF;
}
.font-blue {
	color: #156899;
}
.font-green {
	color: #27AE60;
}
.font-red {
	color: #C0392B;
}
.font-org {
	color: #E67E22;
}

.font-333{
	color: #333333;
}

.bg-white {
	background: #FFFFFF;
}

.bg-grey {
	background: #F7F7F9;
}

.bgblue {
	background: #156899;
}

.bgblue2 {
	background: #4486AD;
}

.bgbluefontwhite {
	background: #156899;
	color: #FFFFFF;
}

.bgorgfontwhite{
	background: #E67E22;
	color: #FFFFFF;
}

.w12 {
	width: 12%;
}
.w16 {
	width: 16.666666%;
}
.w20 {
	width: 20%;
}

.w25 {
	width: 25%;
}

.w30 {
	width: 30%;
}

.w33 {
	width: 33.33333%;
}

.w40 {
	width: 40%;
}

.w50{
	width: 50%;
}

.w60 {
	width: 60%;
}

.w70 {
	width: 70%;
}

.bordertop {
	border-top: solid;
	border-top-color: #DDDDDD;
	border-top-width: 1px;
}

.borderight {
	border-right: solid;
	border-right-color: #DDDDDD;
	border-right-width: 1px;
}

.borderight-da {
	border-right: dashed;
	border-right-color: #DDDDDD;
	border-right-width: 1px;
}

.bordeleft {
	border-left: solid;
	border-left-color: #DDDDDD;
	border-left-width: 1px;
}

.subline-white{
	display: block;
	margin-bottom: 10px;
	border-bottom: solid;
	border-bottom-color: #FFFFFF;
	border-bottom-width: 1px;
}

.subline-grey2{
	display: block;
	margin-bottom: 10px;
	border-bottom: solid;
	border-bottom-color: #DDDDDD;
	border-bottom-width: 1px;
}

.itembutton a{
	background: #FFFFFF;
	color: #666666;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
	font-size: 13px;
	border: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	border-radius:30px ;
	text-decoration: none;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;	
}

.itembutton a:hover{
	background: #156899;
	color: #FFFFFF;
	border-color: #156899;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;	
}

/*---动画样式--*/

.aniline {
	margin-top: 35px;
	margin-bottom: 35px;
	filter: alpha(opacity=60);
	opacity: 0.6;
}

.aniline2 {
	margin-top: 35px;
	margin-bottom: 35px;
	filter: alpha(opacity=60);
	opacity: 0.6;
}


.anilineno {
	margin-top: 35px;
	margin-bottom: 35px;
	background: #DDDDDD;
	height: 2px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.moveline {
	background: #FFFFFF;
	height: 2px;
	width: 100px;
	animation: move 2s;
}

@keyframes move {
	0% {
		width: 1px;
	}
	100% {
		width: 100px;
	}
}

.moveline2 {
	background: #DDDDDD;
	height: 2px;
	width: 100px;
	animation: move 2s;
}

@keyframes move {
	0% {
		width: 1px;
	}
	100% {
		width: 100px;
	}
}

.nexts {
	position: absolute;
	left: 50%;
	z-index: 10002;
	bottom: 30px;
}

.nexts a {
	color: #FFFFFF;
}

.downpages {
	-webkit-animation: float ease-in-out 2s infinite;
	animation: float ease-in-out 2s infinite;
}

@-webkit-keyframes float {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes float {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}


/* 顶部Nav */

.fxnav {
	z-index: 10000;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

}

.fxnavon {
	padding-bottom: 10px;
	padding-top: 10px;
	background: rgba(0, 0, 0, 0.3);
  	-webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, .1);  
  	-moz-box-shadow:0px 0px 8px rgba(0, 0, 0, .1);  
  	box-shadow:0px 0px 8px rgba(0, 0, 0, .1);  
}

.fxnavoff {
	padding-bottom: 10px;
	padding-top: 10px;
	background: #FFFFFF;
  	-webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, .1);  
  	-moz-box-shadow:0px 0px 8px rgba(0, 0, 0, .1);  
  	box-shadow:0px 0px 8px rgba(0, 0, 0, .1);  
}

.fxnavon a {
	color: #FFFFFF;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.fxnavon a:hover {
	color: #FFFFFF;
	filter: alpha(opacity=100);
	opacity: 1;
}

.fxnavoff a {
	color: #666666;
	filter: alpha(opacity=80);
	opacity: 0.9;
}

.fxnavoff a:hover {
	color: #666666;
	filter: alpha(opacity=100);
	opacity: 1;
}

.fxnavli li {
	background-image: url(../img/forie8.png);
	font-size: 14px;
	float: left;
	padding-left: 40px;
	line-height: 40px;
	height: 40px;
}

.fxnavli a{
	filter: alpha(opacity=100);
	opacity: 1;
}

.fxnavlismall {
	color: #FFFFFF;
	display: none;
	position: fixed;	
	z-index: 10001;
	top: 0px;
	right: -200px;
	width: 200px;
	background: #222222;
	padding: 20px;
	font-size: 14px;
}

.fxnavlismall li{
	line-height: 30px;
}

.fxnavlismall a{
	color: #FFFFFF;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

.fxnavlismall a:hover{
	color: #FFFFFF;
	filter: alpha(opacity=100);
	opacity: 1;
}
.fxnavlismall2ul{
	font-size: 12px;
	padding-left: 14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #909090;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #909090;	
	display: none;
}

.fxnavlismall2ul li{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #909090;
}

.fxnavon .fxnavlion {
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}

.fxnavoff .fxnavlion {
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}

.fxnax-sub {
	/*filter: alpha(opacity=0);
	opacity: 0;*/
	display: none;
	position: fixed;
	width: 100%;
	left: 0px;
	margin-top: 0px;
	border-bottom: solid;
	border-bottom-color: #DDDDDD;
	border-bottom-width: 1px;
	-webkit-box-shadow:1px 5px 8px rgba(0, 0, 0, .1);  
  	-moz-box-shadow:1px 5px 8px rgba(0, 0, 0, .1);  
  	box-shadow:1px 5px 8px rgba(0, 0, 0, .1);  
}

.fxsubtop {
	height: 10px;
	border-bottom: solid;
	border-bottom-color: #DDDDDD;
	border-bottom-width: 1px;
}

.fxnaxin {
	line-height: 150%;
	background: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

.fxitem {
	padding-top: 20px;
	padding-bottom: 20px;
}

.fxitemon {
	padding-top: 20px;
	padding-bottom: 20px;
}

.faxsub-itemname {
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.faxsub-itemname2 {
	width: 52px;
	font-size: 13px;
	padding-bottom: 4px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	margin-bottom: 10px;
}
.faxsub-itemname3 {
	width: 65px;
	font-size: 13px;
	padding-bottom: 4px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	margin-bottom: 10px;
}
.faxsub-itemcon {
	display: block;
	width: 75%;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.faxsub-itemcon2{
	font-size: 12px;
	margin-bottom: 15px;
}

.fxnax-sub a {
	font-size: 12px;
	color: #333333;
}

.fxnax-sub a:hover {
	font-size: 12px;
	color: #FFFFFF;
}

.fxitem button {
	font-size: 12px;
	background: #FFFFFF;
	border: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;		
}

.fxitemon button {
	font-size: 12px;	
	color: #FFFFFF;
	background: #156899;
	border: solid;
	border-color: #156899;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;
}



.fxli3newsli{
	font-size: 12px;
	line-height: 150%;
	margin-bottom: 15px;
}

.fxli3newsli a{
	color: #156899;
}

.fxli3newsli a:hover{
	color: #156899;
	text-decoration: underline;
}
.faxsub-itemname2 a{
	font-size: 13px;
}
.faxsub-itemname2 a:hover{
	color: #111111;
	font-size: 13px;
}
.faxsub-itemcon2 a:hover{
	color: #156899;
	text-decoration: none;
}



/* footer */
.footerall{
	line-height: 150%;
}

.footerall a{
	color: #777777;
}

.footerall a:hover{
	color: #156899;
}

.footer{
	line-height: 150%;
	color: #777777;
	background: #FAFAFA;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer a{
	margin-right: 3px;
	margin-left: 3px;
}

.footer-nav{
	background: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
}
.fnav-subnav-tit{
	color: #666666;	
	font-size: 14px;
}

.fnav-subnav-con{
	margin-top: 15px;
}
.fnav-subnav-con a{
	display: block;
	line-height: 200%;
}

.fnav-subnav{
	float: left;
}


.logogo div{
	background: #156899;
	color: #FFFFFF;

}


.sence-gery{
	line-height: 180%;
	color: #666666;
	background: #FAFAFA;
	padding-top: 60px;
	padding-bottom: 60px;
}

.sence-white{
	line-height: 180%;
	color: #666666;
	background: #FFFFFF;
	padding-top: 60px;
	padding-bottom: 60px;	
}

.gotop a{
	position: fixed;
	right: 30px;
	bottom: 120px;
	width: 60px;
	height: 60px;
}
.gotop a{
	filter: alpha(opacity=15);
	opacity: 0.15;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	color: #FFFFFF;
	background: #333333;
	outline: 1px solid rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);	
}
.gotop a:hover{
	filter: alpha(opacity=30);
	opacity: 0.3;
	outline: 1px solid rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);	
}

.gerylinebutton a{
	font-size: 14px;	
	color: #FFFFFF;
	background: #156899;
	border: solid;
	border-color: #156899;
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}
.goflex{
	position: fixed;
	bottom: 0px;
}

.footerformob{
	display: none;
}

.footer-navformob{
	display: none;
}